# Public
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# SMTP (notification-service)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# JWT Security
JWT_SECRET=
