# Public
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=

# Для авторизации (на MongoDB)
MONGO_URI_AUTH=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/pizza_auth?authSource=admin
# для логирования (на MongoDB)
MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/${MONGO_DB}?authSource=admin

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# SMTP (notification-service)
SMTP_HOST=mailpit
SMTP_PORT=1025
# при тестировании через локальный Mailpit логин и пароль не нужны
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Pizza Delivery <no-reply@pizza.com>" # адрес, от имени которого будут уходить письма
ADMIN_EMAIL= # почта администратора системы, куда будут прилетать критические ошибки

# JWT Security
JWT_SECRET=
